/* global css for the blog post*/

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

/* .nav_outer {
  @apply flex justify-between h-[60px] items-center fixed w-screen z-10 text-[13px] bg-black;
  padding: 0 30px;
} */

html,
body {
  max-height: 100%;
  width: 100%;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

::selection {
  background: #0ca07d;
  color: white; /* Text color of the selected text */
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:active {
  color: inherit;
}

a:hover {
  color: inherit;
}
