.container {
  width: 50vw;
  height: 28vh;
  height: auto;
  margin: auto;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  margin-bottom: 2rem;
}

.heading {
  color: #0ca07d;
  font-size: 1.5rem;
  margin-bottom: 1.4rem;
  text-align: center;
}

.para {
  text-align: center;
  color: #6c757d;
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 2rem;
}

.inputfield {
  display: flex;
  width: 100%;
  height: 7vh;

  padding: 0 1rem;
  gap: 5px;
}

.inputfield input {
  width: 70%;
  height: 100%;
  height: auto;
  outline: none;
  color: #9b9b9b;
  padding: 10px 20px;
  background-color: #f6f6f6;
  border-radius: 15px;
  border: 0.5px solid #9b9b9b;
  font-size: 1.1rem;
}

.inputfield button {
  width: 30%;
  height: 100%;
  background: #0ca07d;
  text-transform: uppercase;
  color: white;
  border-radius: 13px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Media queries */

@media (max-width: 1050px) {
  .container {
    height: auto;
  }
  .heading {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
  }

  .para {
    font-size: 0.8rem;
    line-height: 20px;
    margin-bottom: 1.6rem;
  }
  .inputfield {
    height: 10vh;
  }

  .inputfield button {
    font-size: 0.9rem;
    height: 3rem;
  }
  .inputfield input {
    font-size: 0.9rem;
    height: 3rem;
  }
}

@media (max-width: 750px) {
  .inputfield button {
    font-size: 0.7rem;
  }
}

@media (max-width: 650px) {
  .container {
    padding: 1rem;
  }
  .heading {
    font-size: 1rem;
    margin-bottom: 1.2rem;
  }

  .para {
    font-size: 0.7rem;
    line-height: 18px;
    margin-bottom: 1.5rem;
  }

  .inputfield button {
    font-size: 0.7rem;
    width: 70%;
    height: auto;
    border-radius: 10px;
  }
  .inputfield input {
    font-size: 0.9rem;
    width: 90%;
    border-radius: 10px;
    height: auto;
  }

  .inputfield {
    height: 15vh;

    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .container {
    width: 70vw;
    height: auto;
  }
  .inputfield {
    margin-top: -2rem;
  }
  .inputfield input {
    height: auto;
  }
  .inputfield button {
    height: auto;
    height: 2.5rem;
  }
}

@media (max-width: 350px) {
  .container {
    width: 80vw;
    height: auto;
  }

  .heading {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }

  .para {
    font-size: 0.7rem;
    line-height: 16px;
    margin-bottom: 1rem;
  }
  .inputfield {
    margin-top: -1rem;
  }

  .inputfield input {
    font-size: 0.7rem;
    height: auto;
  }
  .inputfield button {
    font-size: 0.8rem;
    height: 2.5rem;
  }
}
