.footer {
  @apply flex h-[60vh] justify-center items-center pt-14 overflow-hidden;
  /* border: 1px solid black; */
}
.innerLayer {
  @apply w-[70%] h-full flex flex-col justify-between;
  /* border: 1px solid black; */
  gap: 10rem;
}
.navigation {
  @apply flex gap-8;
}
.navigation h1 {
  @apply text-lg font-semibold;
}
.navigation ul {
  @apply flex flex-col gap-2 pt-2;
}
.navigation li {
  @apply text-sm font-normal text-[#768190] text-[1rem];
}
.navigation p {
  @apply text-sm font-normal pt-2 text-[#768190] text-[1rem];
}
.copywrite {
  @apply text-[#94a3b8];
  height: 50px;
  border-top: 0.1px solid #94a3b8;
}
.copywrite img {
  height: 20px;
  width: 20px;
}
.image {
  height: 50px !important;
  width: 144px !important;
  margin-left: -15px;
}
.pages {
  @apply w-2/5 flex justify-between;
}
.company {
  @apply w-1/5 flex flex-col items-end;
}

@media (max-width: 700px) {
  .footer {
    @apply h-screen;
  }
  .navigation {
    @apply flex-col;
  }
  .pages {
    @apply block w-full;
  }
  .company {
    @apply w-[60%] items-start;
  }
  .copywrite img {
    height: 15px;
    width: 15px;
  }
}
